<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

# Use React app for 404s instead of LiteSpeed's default page

ErrorDocument 404 /index.html

# Redirect www to non-www

RewriteCond %{HTTP*HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.\_)$ https://%1/$1 [R=301,L]

# If the request is for an existing file or directory, serve it normally

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise serve index.html but return 404

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L,R=404]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(webp|svg)$">
    Header set Cache-Control "max-age=7776000, public"
  </FilesMatch>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=7776000, private"
  </FilesMatch>
</IfModule>

# Redirects

# Redirect 301 /index.html https://swansonsoftware.com/

Redirect 301 /index.php https://swansonsoftware.com/
Redirect 301 /default.asp https://swansonsoftware.com/
Redirect 301 /emailForm.php https://swansonsoftware.com/contact/
Redirect 301 /IntroProcess.asp https://swansonsoftware.com/
Redirect 301 /life-cycle-models.html https://swansonsoftware.com/principles/lifecycle
