html,
body,
#app {
  height: 100vh;
}

#app {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "footer";
  grid-template-rows: 100px 1fr 120px;

  @mixin atMin800Wide {
    grid-template-rows: 100px 1fr 75px;
  }
}

#app > header {
  grid-area: head;
}
#app > main {
  grid-area: main;
}
#app > footer {
  grid-area: footer;
}

body {
  font-family: "Roboto", sans-serif;
}

body.dark {
  background-color: $bodyDarkBGColor;
  color: $bodyDarkBGFontColor;
  a {
    color: $bodyDarkBGFontColor;
    &:hover {
      color: $hoverColorDarkBG;
    }
  }
}
body.light {
  background-color: $bodyLiteBGColor;
  color: $bodyLiteBGFontColor;
}

.no-scroll {
  overflow: hidden;
}

a.social {
  text-decoration: none;
  padding-right: 30px;
  padding-top: 20px;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  text-align: start;
  padding: 5px 0;
}
.col-1 {
  width: 50%;
  padding-left: calc(calc(100vw / 2) - 850px);
}
.col-2 {
  width: 50%;
}

@-webkit-keyframes grow {
  to {
    max-height: fit-content;
  }
}
@keyframes grow {
  to {
    max-height: fit-content;
  }
}
@-webkit-keyframes shrink {
  to {
    max-height: 0;
  }
}
@keyframes shrink {
  to {
    max-height: 0;
  }
}
