html,
body,
#app {
  height: 100vh;
}

#app {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "footer";
  grid-template-rows: 100px 1fr 140px;

  @mixin atMin800Wide {
    grid-template-rows: 100px 1fr 75px;
  }
}

#app > header {
  grid-area: head;
}
#app > main {
  grid-area: main;
  max-width: 100vw;
}
#app > footer {
  grid-area: footer;
}

body {
  font-family: "Proza Libre", sans-serif;
}

body.dark {
  background-color: $bodyDarkBGColor;
  color: $bodyDarkBGFontColor;
  a {
    color: $bodyDarkBGFontColor;
    &:hover {
      color: $hoverColorDarkBG;
    }
  }
}
body.light {
  background-color: $bodyLiteBGColor;
  color: $bodyLiteBGFontColor;
}

.no-scroll {
  /*overflow: auto;*/ /* revert to default because hidden causes menu to jump on x axis */
  overflow: hidden; /* need hidden for album, so added logic to detect scroll height*/
}

a.social {
  text-decoration: none;
  padding-right: 30px;
  padding-top: 20px;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}
img.logo {
  width: 220px;
  height: 53px;
}
img.tagline {
  width: 215px;
  height: 20px;
}

* {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  text-align: start;
  padding: 5px 0;
}
.col-1 {
  width: 50%;
  padding-left: calc(calc(100vw / 2) - 850px);
}
.col-2 {
  width: 50%;
}

@-webkit-keyframes grow {
  to {
    max-height: fit-content;
  }
}
@keyframes grow {
  to {
    max-height: fit-content;
  }
}
@-webkit-keyframes shrink {
  to {
    max-height: 0;
  }
}
@keyframes shrink {
  to {
    max-height: 0;
  }
}
