$globalFontFamily: "Proza Libre", sans-serif;
$menuFont: "Roboto", sans-serif;
$headersFont: "Cormorant Garamond", serif;
$bodyDarkBGColor: #080a0d;
$bodyLiteBGColor: #fff;
$bodyLiteBGFontColor: #000;
$bodyDarkBGFontColor: #fff;
$hoverColorLiteBG: #dedfe3; /*links (was #e8e8e8)*/
$hoverColorLiteBGAlt: #383838;
$hoverColorDarkBG: #e8e8e8;
$siteHeaderMenuIconDarkBackgroundColor: #383838;
$siteHeaderMenuIconHoverColorDarkBG: #282828;
$HeaderFooterDarkBackground: #000;
$HeaderFooterLiteBackground: #ebecf0;
$HeaderFooterDarkBackgroundTransparent: rgba(0, 0, 0, 0.5);
$lightboxPhotoOverlayBackgroundColor: #000;
$lightboxImageOverlayBackgroundColor: rgba(0, 0, 0, 0.8);
$lightboxCloseBtnBGColor: rgba(0, 0, 0, 0.3);
$lightboxCloseBtnBGFocus: rgba(0, 0, 0, 0.8);
$albumSlideshowHeaderBackground: rgba(0, 0, 0, 0.5);
$menuButtonOutlineTransition: 0.2s;
$menuVisibilityTransition: 0.3s;
$transitionDuration_siteHeaderMenuVisibilityOnScroll: 0.2s;
$transitionDuration: 0.4s;
$cb-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
$cb-ease-out: cubic-bezier(0, 0, 0.58, 1);
$cb-ease-in: cubic-bezier(0.4, 0, 1, 1);
$slideTransition: 1s;
$photoCaptionTransition: 0.5s;
$vcrButtonContainerBackground: rgba(0, 0, 0, 0.5);
$vcrButtonOutlineColor: #ff0000;
$vcrContainerOutlineColor: yellow;
$albumPhotoCaptionBackgroundColor: rgba(255, 255, 255, 0.4);
$albumPhotoCaptionBackgroundHoverColor: rgba(0, 0, 0, 0.1);
$horizontalMenuBarHeight: 100px;
$verticalMenuBarWidth: 320px;
$zIndex--1-BelowAll: -1;
$zIndex-1-FirstLevel: 1;
$zIndex-2-SecondLevel: 2;
