.banner {
  width: 100%;
  color: $bodyLiteBGFontColor;

  &__darkBackground {
    color: $bodyDarkBGFontColor;
  }

  &__image {
    position: fixed;
    z-index: $zIndex--1-BelowAll;
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin: 0;

    @mixin atMax620Wide {
      font-size: 2rem;
    }
    @mixin atMin1200Wide {
      font-size: 3.2rem;
    }
    @mixin atMin2000Wide {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1rem;

    @mixin atMax620Wide {
      font-size: 1.5rem;
    }
    @mixin atMin1200Wide {
      font-size: 2rem;
    }
    @mixin atMin2000Wide {
      /*max-width: 70rem;*/
      font-size: 3rem;
    }
  }

  /* is this used? */
  &__sub-text {
    position: relative;
    padding-left: 3.125rem;
    font-weight: 300;
    font-size: 1rem;
  }
}
