.footer {
  background-color: $HeaderFooterLiteBackground;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0 5px 0;
  z-index: $zIndex-4-FourthLevel;

  a {
    color: $bodyLiteBGFontColor;
  }

  &__hidden {
    display: none;
  }

  &--dark-bg {
    background-color: $HeaderFooterDarkBackground;
    a {
      color: $bodyDarkBGFontColor;
    }
  }

  &__copyright {
    display: block;
    padding: 10px 0;
  }

  &__link {
    display: block;
    padding: 10px 0 10px 5px;
  }

  @mixin atMaxWidthForVisibleMenuIcon {
    font-size: 1.2rem;
    @media (orientation: portrait) {
      &__copyright::after {
        content: "";
      }
      &__link::before {
        content: "";
      }
      &__link {
        padding: 10px 0;
      }
    }
  }

  @mixin atMinWidthToHideMenuIcon {
    font-weight: 300;

    &__copyright::after {
      content: " | ";
    }
    &__link::after {
      content: " | ";
    }
    &__link:last-child::after {
      content: "";
    }
  }
}
