.form {
  font-size: 1.3rem;
  &--required {
    color: black;
    font-weight: bold;
  }
  &--phone {
    display: none;
  }
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 4px;
    resize: vertical;
    &:focus-visible {
      outline: 3px solid $bodyLiteBGFontColor;
    }
  }
  &--ta {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 4px;
    &:focus-visible {
      outline: 3px solid $bodyLiteBGFontColor;
    }
  }
  button {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 4px;
    border: 1px solid $bodyLiteBGFontColor;
    &:hover {
      background-color: #dedfe3;
    }
    &:focus-visible {
      outline: 3px solid $bodyLiteBGFontColor;
    }
  }

  &--field-separation {
    padding-top: 30px;
  }
  &--button-spacing {
    padding-top: 10px;
  }

  &--section {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @mixin atMin1200Wide {
    input {
      width: 50%;
    }
    &--ta {
      width: 50%;
      max-width: 90%;
    }
  }
}
