.headline {
  &__h1 {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 20px 0;
    margin: 0.67em 0 0 0;

    &--center {
      text-align: center;
    }

    @mixin atMin1200Wide {
      font-size: 4rem;
    }
  }
  &__h1-cg {
    font: normal 300 3.4rem/1.15 $headersFont;
    @mixin atMin1200Wide {
      font-size: 4.5rem;
    }
  }

  &__h2 {
    font: 400 2.5rem/1.15 $headersFont;
    padding: 10px 0;
    margin: 0;

    &--recipe {
      padding-top: 30px;
    }

    &--center {
      text-align: center;
    }

    @mixin atMin1200Wide {
      font-size: 3rem;
    }
  }
  &__h2-contents {
    font: 400 1.75rem/1.15 $globalFontFamily;
    padding: 10px 0;
    margin: 0;

    @mixin atMin1200Wide {
      font-size: 2rem;
    }
  }

  &__h3 {
    font: 600 2.1rem/1.15 $headersFont;
    padding: 10px 0;
    margin: 0;
    &--bold {
      font-weight: 700;
    }
    &--xtra-pad {
      padding-top: 18px;
    }

    @mixin atMin1200Wide {
      font-size: 2rem;
    }
  }

  &__h3-album-slideshow {
    font: normal 1.4rem/1.45 $globalFontFamily;
    margin-top: 15px;

    @mixin atMin1200Wide {
      font-size: 1.5rem;
    }
  }

  &__h3-album-thumbnail {
    font: 500 1.5rem/1.15 $headersFont;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
    &--center {
      text-align: center;
    }

    @mixin atMin1200Wide {
      font-size: 1.7rem;
    }
  }

  &__h4 {
    font: 400 1.5rem/1.15 $headersFont;
    padding: 10px 0;
    margin: 0;

    @mixin atMin1200Wide {
      font-size: 1.7rem;
    }
  }

  &__author {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 30px;
  }
}
