.lightbox {
  &__menu-overlay {
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 3800px;
    bottom: -100px;
    right: 0;
    background-color: $HeaderFooterDarkBackgroundTransparent;

    &--visible {
      right: 30px;
      opacity: 1;
      left: 0;
      transition: opacity $menuVisibilityTransition $cb-ease-in-out;
      z-index: $zIndex-1-FirstLevel;
      @mixin atMin200Wide {
        right: 0;
      }
    }
  }

  &__image-overlay {
    opacity: 0;
    transform: scale(0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $lightboxImageOverlayBackgroundColor;
    z-index: $zIndex--1-BelowAll;
    transition: opacity $menuVisibilityTransition, transform $transitionDuration $cb-ease-in-out;

    &--visible {
      opacity: 1;
      height: 100vh;
      transform: scale(1);
      left: 16px;
      right: 16px;
      overflow-y: auto;
      z-index: $zIndex-5-FifthLevel;
    }

    &__selectedImg {
      display: flex;
      justify-content: center;
    }

    figure {
      background-color: $lightboxImageOverlayBackgroundColor;
      border: 4px solid black;
      margin: 0;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    figcaption {
      font-size: 1.5rem;
      inline-size: 20ch;
      padding: 5px 15px;
      color: #fff;

      @mixin atMin620Wide {
        inline-size: 35ch;
      }
      @mixin atMin760Wide {
        inline-size: 47ch;
      }
      @mixin atMin800Wide {
        inline-size: 55ch;
      }
      @mixin atMin900Wide {
        inline-size: 60ch;
      }
      @mixin atMin1020Wide {
        inline-size: 70ch;
      }
      @mixin atMin2000Wide {
        inline-size: 140ch;
      }
    }

    &__close-btn {
      position: absolute;
      top: 18px;
      right: 16px;
      background: transparent;
      border: 0;
      outline: 0;
      svg {
        fill: $lightboxCloseBtnBGColor;
      }
      &:focus {
        svg {
          fill: $lightboxCloseBtnBGFocus;
        }
        path {
          stroke-width: 2.5px;
        }
      }
    }
  }

  &__photo-overlay {
    opacity: 0;
    transform: scale(0.5);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $lightboxPhotoOverlayBackgroundColor;
    z-index: $zIndex--1-BelowAll;
    transition: opacity $menuVisibilityTransition, transform $transitionDuration $cb-ease-in-out;

    &--visible {
      right: 30px;
      opacity: 1;
      left: 0;
      transform: scale(1);
      z-index: $zIndex-5-FifthLevel;
      @mixin atMin200Wide {
        right: 0;
      }
    }

    &__close-btn {
      position: absolute;
      top: 18px;
      right: 16px;
      background: transparent;
      border: 0;
      outline: 0;
      &:focus {
        svg {
          fill: $lightboxCloseBtnBGFocus;
        }
        path {
          stroke-width: 2.5px;
        }
      }
    }

    &__close-svg {
      height: 48px;
      width: 48px;
      fill: $lightboxCloseBtnBGColor;
      overflow: visible;
      z-index: 2;
      cursor: pointer;
      &--path {
        stroke: yellow;
        stroke-width: 1.5px;
        stroke-linecap: round;
      }
      &:hover {
        fill: $lightboxCloseBtnBGFocus;
        path {
          stroke-width: 2.5px;
        }
      }
      &:focus-within {
        stroke-width: 2.5px;
        fill: $lightboxCloseBtnBGFocus;
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }

    &--spinner {
      position: absolute;
      margin: auto;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      border: 0.25rem solid #fff;
      border-top-color: #686868;
      -webkit-animation: spin 1s infinite linear;
      animation: spin 1s infinite linear;
      z-index: $zIndex--1-BelowAll;
      &--slide {
        top: 50%;
      }
      &--image {
        top: 50%;
        left: 50%;
      }
    }
    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(0deg);
      }
      to {
        -moz-transform: rotate(359deg);
      }
    }
    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

    &__selectedImg {
      display: flex;
      justify-content: center;
    }

    picture {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
    }

    img {
      max-width: 100%;
      height: auto;
      object-position: 50% 50%;
    }
  }
}
