.list {
  font-size: 1.4rem;
  line-height: 1.5;
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0;
  }

  &--toc {
    list-style: none;
    padding-bottom: 5px;
    &--a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--ul {
    padding-left: 0;
  }
}
