.list {
  font-size: 1.4rem;
  line-height: 1.5;
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0;
  }

  &--toc {
    list-style: none;
    padding-bottom: 0; /*5px*/
    &--a {
      cursor: pointer;
      text-decoration: none;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: underline;
        }
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &--ul {
    padding-left: 0;
  }
}
