.menu-item {
  display: inline-grid;
  padding-left: 0;

  li {
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    &:first-child {
      padding-bottom: 5px;
    }
  }

  @mixin atMaxWidthForVisibleMenuIcon {
    li {
      &:last-child {
        padding-bottom: 15px;
      }
    }
  }

  &__link {
    font-size: 1.8rem;
    text-decoration: none;
    transition: outline $menuButtonOutlineTransition $cb-ease-in-out;

    &__active {
      text-decoration: underline;
    }

    &--dark {
      color: $bodyDarkBGFontColor;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-thickness: 1px;
        color: $bodyDarkBGFontColor;
        -webkit-text-fill-color: $bodyDarkBGFontColor;
      }
      &:focus,
      &:active {
        outline: 3px solid $bodyDarkBGFontColor;
        outline-offset: 2px;
        border-radius: 9999px;
        color: $bodyDarkBGFontColor !important;
        -webkit-text-fill-color: $bodyDarkBGFontColor !important;
        -webkit-text-stroke: 0.01px $bodyDarkBGFontColor !important;
      }
    }

    &--lite {
      color: $bodyLiteBGFontColor;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-thickness: 1px;
        color: $bodyLiteBGFontColor;
        -webkit-text-fill-color: $bodyLiteBGFontColor;
      }
      &:focus,
      &:active {
        outline: 3px solid $bodyLiteBGFontColor;
        outline-offset: 2px;
        border-radius: 9999px;
        color: $bodyLiteBGFontColor !important;
        -webkit-text-fill-color: $bodyLiteBGFontColor !important;
        -webkit-text-stroke: 0.01px $bodyLiteBGFontColor !important;
      }
    }
  }

  &__subheading-2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 4px 0;
    color: $bodyLiteBGFontColor;
    &--dark {
      color: $bodyDarkBGFontColor;
    }
  }
  &__subheading-3 {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 4px 0;
    padding-top: 20px;
    color: $bodyLiteBGFontColor;
    &--dark {
      color: $bodyDarkBGFontColor;
    }
  }

  @mixin atMin1200Wide {
    li {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
