.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__home {
    background-image: radial-gradient(ellipse at bottom, #080a0d 5%, transparent 60%), linear-gradient(136deg, transparent, #e8e8e8 290%), linear-gradient(115deg, #080a0d, transparent 40%), linear-gradient(180deg, transparent 0, #080a0d 70%), radial-gradient(ellipse at bottom, #080a0d 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #f5f5f5 0);
  }

  p {
    font-size: 1.4rem;
    line-height: 1.45;
    margin-top: 15px;
  }
  span.note {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  p.note {
    margin: 30px 15px;
    padding: 20px 10px 30px 10px;
    border: 2px solid black;
    border-left-width: 4px;
    border-radius: 10px;
    background-color: $HeaderFooterLiteBackground;
    font: italic 1.4rem/1.45 $globalFontFamily;
  }
  p.code {
    margin: 30px 0;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    font: 1.4rem/1.45 monospace;
    color: rgb(212, 212, 212);
    background-color: rgb(27, 39, 79);
  }
  p.sidebar {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 15px;
  }
  p.dropCap::first-letter {
    float: left;
    font: 500 4.9rem/0.8 $headersFont;
    padding-right: 4px;
  }
  p.dropCapNote::first-letter {
    float: left;
    font: italic 500 4.8rem/0.8 $headersFont;
    padding-right: 10px;
  }

  ol,
  ul {
    margin-block-end: 1.5em;
  }
  ol > li > ol {
    margin-block-end: 0;
  }
  ul > li > ul {
    margin-block-end: 0;
  }
}
