.row {
  @mixin atMin1200Wide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1em;
    margin-bottom: 40px;

    &--gutters {
      column-gap: 5.3%;
    }

    &--gutters-small {
      column-gap: 3.6%;
    }

    &__margin-bottom-0 {
      margin-bottom: 0;
    }

    &__colspan-1 {
      grid-column: span 1;
    }

    &__colspan-4 {
      grid-column: span 4;
    }

    &__colspan-7 {
      grid-column: span 7;
    }

    &__colspan-8 {
      grid-column: span 8;
    }

    &__colspan-10 {
      grid-column: span 10;
    }

    &__colspan-12 {
      grid-column: span 12;
      padding-top: 20px;
      &--no-top-pad {
        padding-top: 0;
      }
    }
  }
  &__imageCaptionSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
}
