.slideshow {
  &__slides {
    list-style-type: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    &__slide {
      background: #000;
      display: flex;
      justify-content: center; /* portrait */
      opacity: 0;
      position: absolute;
      transition: opacity $slideTransition $cb-ease-in;
      width: 100%;
      height: 100%;

      &--is-visible {
        opacity: 1;
      }

      &--full-screen {
        height: 100%;
      }

      .slide-image {
        height: auto;
        max-width: 100%;
        object-fit: contain; /*object-fit requires height and width*/
        object-position: 50% 50%;
        width: auto;
      }

      .titletext {
        display: none;
      }

      picture {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__slide-caption {
    color: $albumPhotoCaptionBackgroundColor; /* hide caption - make text the same color as background */
    transition: color $slideTransition $cb-ease-in-out;

    &--is-visible {
      color: #000;
    }

    @mixin atMax620Wide {
      font-size: 1.1em;
    }
  }

  &__vcr-container {
    position: absolute;
    transition: opacity $menuButtonOutlineTransition $cb-ease-out;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 65px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid yellow;

    &--fullscreen {
      bottom: 0;
    }
    @mixin atMinWidthToHideMenuIcon {
      top: calc(100vh - 220px);
      &--fullscreen {
        top: calc(100vh - 120px);
      }
    }
    @mixin atMin1200Wide {
      top: calc(100vh - 170px);
      &--fullscreen {
        top: calc(100vh - 70px);
      }
    }

    &--is-hidden {
      opacity: 0;
    }

    &--is-visible {
      opacity: 1;
    }

    &--kill {
      left: -1000px;
    }

    &--svg {
      height: 48px;
      width: 48px;
      fill: #ff0000;
      stroke-width: 1px;
      overflow: visible;
      &--path {
        stroke: #ff0000;
        stroke-linecap: round;
      }
      &--polygon {
        stroke: #ff0000;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      &:hover {
        stroke-width: 2px;
      }
      &:focus-within {
        stroke-width: 2px;
      }
    }
    &--svg-dbl-stroke {
      height: 48px;
      width: 48px;
      fill: #ff0000;
      stroke-width: 2.5px;
      stroke-linecap: round;
      overflow: visible;
      &--path {
        stroke: #ff0000;
      }
      &:hover {
        stroke-width: 3.5px;
      }
    }

    &__vcr-button {
      display: flex;
      background: transparent;
      border: 0;
      cursor: pointer;
      &:focus {
        outline: 3px solid yellow;
      }
    }
  }
}
