.wrapper {
  padding: 0 18px;

  &--site-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &--home-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 18px;
    z-index: $zIndex-3-ThirdLevel;
    text-shadow: 3px 3px 2px black;
    background-image: radial-gradient(ellipse at bottom, #080a0d 5%, transparent 60%), linear-gradient(136deg, transparent, #e8e8e8 290%), linear-gradient(115deg, #080a0d, transparent 40%), linear-gradient(180deg, transparent 0, #080a0d 70%), radial-gradient(ellipse at bottom, #080a0d 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #f5f5f5 0);
    &__image {
      margin-top: 0;
      margin-bottom: 48px;
      @mixin atMinWidthToHideMenuIcon {
        margin-top: 48px;
        margin-bottom: 0;
      }
    }
  }

  &--banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid yellow;*/
  }

  &--site-footer {
    display: flex;
    justify-content: center;
  }

  &--album {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1rem;
    padding-bottom: 50px;

    &--pull-left {
      margin-left: 0;
    }
    &__video {
      padding: 10px 0px;
      @mixin atMin1200Wide {
        padding: 20px 5px 20px 5px;
      }
    }
  }

  &--album-photos {
    display: grid;
    row-gap: 15px;
    column-gap: 60px;
    justify-content: center;
    padding-bottom: 50px;
    a {
      text-decoration: none;
    }
    button {
      cursor: pointer;
      padding: 0;
      border: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 340px;
      background-color: #fff;
      transition: border-radius 0.1s $cb-ease-in-out;
      &:hover {
        border-radius: 5%;
      }
      &:focus-visible {
        border-radius: 5%;
        div {
          border-radius: 5%;
        }
      }
    }
  }

  &--image {
    cursor: pointer;
    padding: 0px 0px 20px 0px;
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

  &--album-photo-polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    background-color: white;
    color: $bodyLiteBGFontColor;
    transition: border-radius 0.1s $cb-ease-in-out;
    &:hover {
      border-radius: 5%;
    }
    img {
      max-height: 213px;
      object-fit: cover;
    }
    &__book {
      box-shadow: 10px 10px 5px #aaaaaa;
      border: 0;
      height: 100%;
      @mixin atMin1200Wide {
        margin-right: 10px;
      }
    }
  }

  &--album-slideshow {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: $horizontalMenuBarHeight;
    &--fullscreen {
      top: 0;
    }
  }

  @mixin atMax799Wide {
    &--site-footer {
      display: block;
      text-align: center;
    }
  }

  @mixin atMin820Wide {
    &--album {
      max-width: 820px;
      &--pull-left {
        margin-left: auto;
        width: 820px;
      }
    }
    &--album-photos {
      grid-template-columns: 1fr 1fr;
      row-gap: 18px;
    }
  }

  @mixin atMax1200Wide {
    &--album {
      width: 100%;
    }
  }
  @mixin atMin1200Wide {
    &--site-header,
    &--home-page {
      width: 1000px;
    }
    &--album {
      max-width: 1200px;
      &--pull-left {
        margin-left: auto;
        width: 1000px;
      }
    }
    &--album-photos {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @mixin atMin1500Wide {
    &--site-header,
    &--home-page {
      width: 1500px;
    }
  }

  @mixin atMin1900Wide {
    &--site-header,
    &--home-page {
      width: 1700px;
    }
    &--album {
      max-width: 1700px;
      &--pull-left {
        margin-left: auto;
        width: 1700px;
      }
    }
    &--album-photos {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__article {
    max-width: inherit;
    font-size: 1rem;
    @mixin atMin1200Wide {
      max-width: 1000px;
    }
    @mixin atMin2000Wide {
      max-width: 1200px;
    }
    &__outbound-link {
      &::after {
        padding-left: 5px;
        content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMi4wIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0eWxlPSJsaW5lLWhlaWdodDowOyBjdXJzb3I6cG9pbnRlciI+PHBhdGggZD0iTTEgMjVWNC40NiIvPjxwYXRoIGQ9Ik0yMS41MDYgMjVIMSIvPjxwYXRoIGQ9Ik01LjgwMSA0LjQ2SDFNMjEuNTA2IDIwLjE5OVYyNSIvPjxwYXRoIGQ9Im05LjQ1IDE2LjU1IDE1LjUtMTUuNSIvPjxwYXRoIGQ9Ik0yNS40NzguNTU1IDE2LjAzMi41MjZsOS40NzUgOS40NzZ6IiBzdHlsZT0ic3Ryb2tlOiMwMDA7ZmlsbDojMDAwO3N0cm9rZS13aWR0aDoxLjA7c3Ryb2tlLWxpbmVqb2luOnJvdW5kOyIvPjwvc3ZnPg==);
      }
    }
  }
}
